/*Simone Chinaglia*/

@font-face {
  font-family: 'Northwell';
  src: url('../fonts/Northwell.woff2') format('woff2'),
  url('../fonts/Northwell.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
  url('../fonts/Raleway-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ThinItalic.woff2') format('woff2'),
  url('../fonts/Raleway-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
  url('../fonts/Raleway-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Black.woff2') format('woff2'),
  url('../fonts/Raleway-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
  url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.woff2') format('woff2'),
  url('../fonts/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Thin.woff2') format('woff2'),
  url('../fonts/Raleway-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
  url('../fonts/Raleway-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/Raleway-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-BoldItalic.woff2') format('woff2'),
  url('../fonts/Raleway-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
  url('../fonts/Raleway-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
  url('../fonts/Raleway-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Raleway-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.woff2') format('woff2'),
  url('../fonts/Raleway-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
  url('../fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/*Starting of the page*/
body{
  background-color: #f9d2e6;
  padding-bottom: 100px;
}
.btn{
  background: #f697d0;
  padding: 5px 10px;
  color: #ffffff !important;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 700  !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  min-width: 300px;
  margin-bottom: 20px;
  text-decoration: none  !important;
}
.heading{
  text-align: center;
  h1{
    padding-top:114px;
    color: #131313;
    font-family: Raleway;
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
    span{
      padding-top:39px;
      color: #131313;
      font-family: Raleway;
      font-size: 36px;
      font-weight: 700;
      line-height: 3px;
      display: block;
      padding-bottom: 40px;
    }
  }
  .signature{
    color: #e43d73;
    font-family: Northwell;
    font-size: 100px;
    font-weight: 400;
    line-height: 55px;
  }
}
.tappe-tour{
  font-family: Raleway;
  text-align: left;
  padding: 50px 0;
  img{
    width: 440px;
    height: 100%;
  }
  p{
    color: #131313;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    display: block;
    line-height: 31px;
  }
  span{
    display: block;
    padding-bottom: 23px;
  }

}
.products{
  text-align: left;
  padding: 40px 0;
  p{
    font-family: "Raleway";
  }
  a{
    font-family: "Raleway";
    font-weight: 400;
    text-decoration: underline;
    color: #000;
  }
  .middlest-150{
    padding-top: 150px;
  }
  img{
    max-width: 100%;
  }
}
b{
  font-family: "Raleway";
}

.gallery-sabato{
  background: #fbb4e7;
  padding: 50px;
  h4{
    color:white;
    font-family: Raleway;
  }
  a{
    color: #000;
    text-decoration: underline;
  }
}
.hidden-lg, .hidden-sm, .hidden-md{
  display:none;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
  /* Styles */
.hidden-xs{
  display: none;
}
  .heading h1 {
    padding-top: 114px;
    color: #131313;
    font-family: Raleway;
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
  }
  .heading h1 span {
    padding-top: 24px;
    color: #131313;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 500;
    line-height: 3px;
    display: block;
    padding-bottom: 63px;
  }
  .heading .signature {
    color: #e43d73;
    font-family: Northwell;
    font-size: 81px;
    font-weight: 400;
    line-height: 0;
  }

  .tappe-tour p {
    color: #131313;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    display: block;
    line-height: 31px;
    padding-top: 30px;

  }
  .tappe-tour img {

    width: 100%;
    height: 100%;

  }
  .tappe-tour {

    font-family: Raleway;
    text-align: left;
    padding: 50px 0 0 0;

  }
  .products .middlest-150 {

    padding-top: 0;

  }
  .products {

    text-align: left;
    padding: 0;

  }
.descrizione{
  padding-top: 40px;
}
  /**/
}
